@model IEnumerable<inventory_ManagementSystem.Models.Purchase>

@{
    ViewBag.Title = "Purchase";
}

<h2 style="color:forestgreen">My Purchase List</h2>

<p>
    @Html.ActionLink("Create New", "PurchaseProduct", new { }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr class="text-bg-info">
        <th>
            @Html.DisplayName("Purchase Product")
        </th>
        <th>
            @Html.DisplayName("Purchase Quantity")
        </th>
        <th>
            @Html.DisplayName("Purchase Date")
        </th>
        <th>
            @Html.DisplayName("Unit Price")
        </th>
        <th>
            @Html.DisplayName("Total Price")
        </th>
        <th>
            @Html.DisplayName("Actions")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Purchase_product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purchase_pnty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Purchase_date)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.unit_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.total_price)
            </td>
            <td>
                @Html.ActionLink("Update", "UpdatePurchaseProduct", "Purchase", new { id = item.id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "DetailsPurchase", new { id = item.id }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "DeletePurchase", new { id = item.id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>